.body {
    background-color: rgb(0, 0, 0);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300;
    margin: 0 auto;
    padding: 0 50px;
}

img {
    display: flex;
    align-content: flex-end;
    cursor: pointer;
    height: 210px;
    width: 200px;
    margin-top: -65px;
    margin-left: -20px;
    padding: 15px;
}

#navbar__logo {
    background: #7b008b;
    background: linear-gradient(to top, #0a0066, #3902ff, #0e004b);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-left: 25px;
    position: absolute;
    display: flex;
    align-content: flex-end;
    align-items: center;
    cursor: pointer;
    height: 50px;
    max-width: 100%;
    padding: 40px;
    margin-left: 100px;
    text-decoration: none;
    font-size: 2.3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #7b008b;
    color: white;
}

.button:hover {
    background: rgb(18, 62, 207);
    transition: all 0.3s ease;

}

.navbar__links:hover {
    color: rgb(159, 0, 199);
    transition: all 0.3s ease;
}

.main-image {
    width: 1400px;
    height: 730px;
    object-fit: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 1;
}

.main-image img {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    position: absolute;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-top: 150px;
}

h2 {
    color: rgb(34, 34, 253);
    font-size: 1.8rem;
    text-align: center;
    margin-top: 0.5px;
}

p {
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    margin-left: 200px;
}
